body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputs{
    width: 300px;
}

.input{
    margin: 5px;
    width: 150px;
}

#board{
    border: 5px;
    border-style: outset;
    margin: 10px;
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.cell{
    margin: 2px;
    border: 1px solid;
}


@keyframes coindrop{
    from {
        opacity: 0%;
        top: -300px
    }
    to {
        opacity: 100%;
        top: 0px
    }
}
.coin{
    position: relative;
    animation: coindrop 0.2s
}